* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header-row {
  height: auto;
  background-image: url('./img/toronto_waterfront.png');
  background-size: cover;
}

.header-logo img {
  width: 80%;
  border-radius: 8px;
  box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.3);
}

.header-text {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-text h3 {
  margin: 25px 0;
} 

.header-photo img {
  width: 50%;
  border-radius: 8px;
  box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.3);
}


/* Navigation */

.nav {
  background-color: #e03346cc;
}

/* BODY Styling */


.nav a {
    color: white;
}

.nav a:hover {
    color: rgb(250,220,191);
}


/* Main Section */

.main {
    height: auto;
    margin-bottom: 100px;
}


/* Listings Section */

#listings {
  /* background-color: rgba(2,2,2,0.1); */
  background-color: rgba(108,117,125,0.1);
  padding: 50px;
  color: white;
}

.listings {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#listings h2 {
  text-align: center;
  margin-bottom: 80px;
}

.listing {
  display: grid;
  place-items: center;
}

.sold {
  position: relative;
}

.img-sold img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}


/* Reviews Section */

#reviews {
  padding: 50px;
}

.reviews {
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

#reviews h2 {
  text-align: center;
  margin-bottom: 80px;
}

.review-author {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.review-author img {
  width: 45px;
  border-radius: 50%;
  border: 2px solid rgba(2,2,2,0.1);
}


/* Contact Section */

#footer {
  background-color: rgba(108,117,125,0.1);
  padding: 50px;
}

#footer h2 {
  text-align: center;
  margin-bottom: 80px;
}

.footer-form {
    display: grid;
    place-items: center;
}

.footer-address {
    line-height: 2rem;
}

.footer-address a {
    color: black;
}

.footer-address h3 {
  margin-bottom: 20px;
}

.footer-photo img {
    border-radius: 8px;
    box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.3);  
}


/* Contact Form */

form {
    width: 90%;
}

form input {
    border: 2px solid gray;
    padding-left: 5px;
    height: 38px;
}

form textarea {
    border: 2px solid gray;
    padding-left: 5px;
}

form button {
    padding: 5px 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}





/* Footer */

.bottom-footer {
    background-color: #444;
    color: white;
    padding: 10px 0px;
    text-align: center;
}



/* GLOBAL */

.link {
  color: rgb(33,37,41);
}

h2 {
  text-align: center;
  margin-bottom: 80px;
}

.contact-link {
  cursor: pointer;
}

#btn-call, #btn-message {
  width: fit-content;
}

#btn-message {
  margin-left: 20px;
}

